@using AppointmentScheduling.Utilities
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form asp-action="Register">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RoleName" class="form-label"></label>
                    <select asp-items="@Roles.GetRolesForDropDown()" asp-for="RoleName" class="form-control">
                        <option disabled selected>-- Select Role --</option>
                    </select>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a class="btn btn-outline-secondary" asp-action="Login">Login</a>
                </div>
                
            </form>
        </div>
    </div>
</div>